.main {

    h1 {
        @include mainHeader;
    }

    // .main__content

    &__content {
        width: 50%;
    }

    // .main__text

    &__text {
        @include text;
        margin-bottom: 17px;
    }

    // .main__review

    &__review {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;
    }

    // .main__review-image

    &__review-image {
    }

    // .main__review-info

    &__review-info {
    }

    // .main__review-author

    &__review-author {
        @include cardTitle;
        margin-bottom: 10px;
    }

    // .main__review-rating

    &__review-rating {
    }

    // .main__btn

    &__btn {
        @include btn;
        background: #FFA332;
    }

    // .main__image

    &__image {
        width: 50%;
        position: relative;
        img {
            position: absolute;
            top: -330px;
            right: 0px;
        }
    }
}
.main-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
}
